.navbar-default{
	background: lightblue;
	margin: 0;
	border: 0;
	border-radius: 0;
}

.navbar-default li:hover{
	background: #81a9b6;
	transition: 0.5s all;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #81a9b6;
}

#person{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}


.persons{
	margin-top: 30px;
}

.persons img{
	margin-top: 20px;
}


.faq{
	width: 50%;
}


.flex{
	display: flex;
}

.center{
	text-align: center;
}

.bold{
	font-weight: bold;
}


#dashboard{
	margin-top: 30px;
}

.faq summary{
	cursor: pointer;
}


.home-page article{
	background-color: pink;
	border-radius: 20px;
	border: 1px solid green;
	margin: 5px;
	padding: 30px;
}




body{
	    background-color: #e3e3e3;
}

hr{
	border-top: 1px solid #aaa;
}


details {
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}



.tg  {
	border-collapse:collapse;border-spacing:0;
}

.tg td{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-0lax{
	text-align:left;
	vertical-align:top
}

