/*TAGS*/


header{
	margin-bottom: 30px;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: lightblue;
	color: white;
	text-align: center;
}

main {
    margin-top: 70px; /* add some margin to the top of the main content */
	margin-bottom: 30px;
  }

body{
	    background-color: #e3e3e3;
}

hr{
	border-top: 1px solid #aaa;
}


details {
    background: white;
    border: 3px solid lightblue;
    border-radius: 20px;
  padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
  padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

footer{
    box-shadow: 0 0px 15px 5px rgb(0 0 0 / 38%);
}

h1,h2,h3,h4,h5,h6, strong,p, li, footer{
    font-family: cursive;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

/* p{
    font-family: system-ui;
} */


/*CLASSES AND ID's*/

.faq h3{
    font-weight: 400;
}

.profiles{
    margin-bottom: 30px;
}

.video iframe{
    width: 550px;
}

.navbar{
    box-shadow: 0 5px 15px rgb(0 0 0 / 38%);
}


.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a, footer, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover{
	color: black;
}

.navbar-logo img{
    width: 140px;
    height: 100%;
    padding: 5%;
}


.navbar ul li{
	transition: background-color 1s ease-out 100ms
}

.navbar-nav{
z-index: 10;  
position: absolute;  
right: 0;  
top: 0;
}

.navbar-default{
	background: lightblue;
	margin: 0;
	border: 0;
	border-radius: 0;
	display: flex;
}

.navbar-default li:hover{
	background: #81a9b6;
	transition: 0.5s all;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: #81a9b6;
}

#person{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}


.persons img{
	margin-top: 20px;
}



.flex{
	display: flex;
}

.center{
	text-align: center;
}

.bold{
	font-weight: bold;
}


#dashboard{
	margin-top: 30px;
}

.faq summary{
	cursor: pointer;
}

  


.home-page article{
    background-color: white;
    border-radius: 20px;
    border: 3px solid lightblue;
    margin: 5px;
    margin-bottom: 30px;
    padding: 30px;
}

#blog-about-me{
    background: white;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid lightblue;
    margin-bottom: 30px;
}

#blog-about-me hr, .profiles hr{
	border-top: 2px solid lightblue;
}

#skills{
	background: white;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid lightblue;
}

.profiles{
	background: white;
    padding: 15px;
    border-radius: 30px;
    border: 2px solid lightblue;
}

.video{
	padding: 15px 5px;
    border-radius: 30px;
    border: 2px solid lightblue;
	background-color: white;
}

.video frame{
	border-radius: 30px;
}

.persons .photo img:hover{
    transform: scale(1.4) rotate(3deg);
  }

  .persons .photo img {
    transition: all 0.6s;
  }

.motivation{
    background-color: white;
    border-radius: 20px;
    border: 3px solid lightblue;
    margin-bottom: 30px;
    padding: 30px;
}

.motivation-photo img{
    width: 32vh;
}

.motivation-photo{
    text-align: center;
}

.home-page .row div{
    padding: 0;
}

.home-page .left-block{
    margin-right: 30px;
}
  
.full-width{
    width: 100%;
}


.sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 200px;
    right:0px;
    overflow-x: hidden;
    padding: 8px 0;
    width: 5%;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    display: block;
  }
  
  .sidenav a:hover {
    color: #064579;
  }
  
  .sidenav img{
      width: 40px;
      transition: all 0.6s;
  }


  .sidenav img:hover{
    transform: scale(1.4) rotate(3deg);
  }


/*TABLE styles*/

table{
	background: white;
	width: 100%;
}

.tg  {
	border-collapse:collapse;border-spacing:0;
}

.tg td{
	border-color: lightblue;
	border-style:solid;
	border-width:2px;
	font-family:Arial, sans-serif;
	font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th{
	border-color: lightblue;
	border-style:solid;
	border-width:2px;
	font-family:Arial, sans-serif;
	font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-0lax{
	text-align:left;
	vertical-align:top
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: lightblue;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid lightblue;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: lightblue;
}

.not-passed-grade{
background: linear-gradient(to left, #d9534f 0%,rgba(255,255,255,0) 100%);
}

.passed-grade{
    background: linear-gradient(to left, #5cb85c 0%,rgba(255,255,255,0) 100%);
}

.missed-grade{
        background: linear-gradient(to left, #f0ad4e 0%,rgba(255,255,255,0) 100%);
}

/* mobile */

@media (max-width: 1024px) {
    .sidenav {
        width: 8%;
      }
}


@media (max-width: 426px) {

    .sidenav {
        width: 17%;
      }

    .video iframe{
        width: 350px;
    }

    .mobile-none{
        display: none;
    }

    .styled-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 100%;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .navbar-nav {
        z-index: 10;
        top: 0;
        display: flex;
        margin: 5px;
        left: 0;
    }

    #blog-about-me, #skills, .profiles, .video{
        margin: 20px;
    }
    
    .styled-table th, .styled-table td {
        padding: 10px 10px;
    }

    .motivation{
        margin: 30px;
    }
    
    .home-page{
        margin: 30px;
    }

    .home-page .left-block {
        margin-right: 0px;
    }
    
    .home-page article{
        margin: 0;
        margin-bottom: 30px;
    }

    .motivation{
        padding: 15px;
    }

  }


  @media (max-width: 376px) {
    .video iframe{
        width: 300px;
    }

}

@media (max-width: 320px) {
    .video iframe{
        width: 260px;
    }
    .sidenav {
        width: 23%;
      }

}