.navbar-default{
	background: lightblue;
	margin: 0;
	border: 0;
	border-radius: 0;
}

.navbar-default li:hover{
	background: grey;
	transition: 0.5s all;
}

#person{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

.persons{
	margin-top: 50px;
}

.faq{
	width: 50%;
}


.flex{
	display: flex;
}

.center{
	text-align: center;
}

.tg  {
	border-collapse:collapse;border-spacing:0;
}

.tg td{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg th{
	border-color:black;
	border-style:solid;
	border-width:1px;
	font-family:Arial, sans-serif;
	font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;
}

.tg .tg-0lax{
	text-align:left;
	vertical-align:top
}

